[Desktop Entry]
Name=Meteowatch
Comment=Pronóstico meteorológico con Open-Meteo
Exec=meteowatch
Icon=com.meteowatch.app
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=true
