[Desktop Entry]
Name=Meteowatch
Comment=Pronóstico meteorológico con Meteored
Exec=meteowatch
Icon=com.meteowatch.app
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Weather;
StartupNotify=true
